table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}

table {
    border-collapse: collapse;
    font-family: monospace;
}

.responsive {
    background-color: #a4dba5;
}

.unresponsive {
    background-color: #bdbdbd;
}